# Allowlist for sh project

# Ignore everything
*

# Allow CI configs
!/.gitignore
!/.github/**/*.yml
!/Makefile

# Allow source code...
!/blocklist-update
!*.sh

!README.md
!LICENSE

# ...also in subdirectories
!*/